<!--<header>
    <p>
       <img src="hotel.jpg" height="150" width="150">
    <! <img src="panorama-of-the-landscape-2328387__340.jpg" height="340" width="1097">

    </p>
</header> -->
<header class="masthead" role="banner">
  <nav role="navigation">
      <ul class="nav-main">
          <li><a href="/" class="current-page">Home</a></li>
          <li><a href="./about-me.jpg/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
      </ul>
  </nav>
    <p class="logo"><a href="/"><img src="logo.png"  alt="Marianne" /></a></p>

    


</header>
