<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hotel Search</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:700" />
    <link rel="stylesheet" href="hotel.css" />
</head>

<body>
<div class="page">

{{> header}}
<h1>{{pageTitle}}</h1>

<form method='post' action='/get_recommendation'


  <fieldset>
  <legend>Select what is important for your hotel stay (select all that apply)</legend>
  <p>
      <select id="hotelChooser"
              size = "10" multiple="multiple">
          <option value="Breakfast">Breakfast</option>
          <option value="Location">Location</option>
          <option value="Friendly_Staff">Friendly Staff</option>
          <option value="Family_Friendly">Family Friendly</option>
          <option value="Cleanliness">Cleanliness</option>
          <option value="Dinner">Dinner</option>
          <option value="Service">Service</option>
          <option value="Room">Room</option>
          <option value="Pub">Pub</option>
          <option value="Safety">Safety</option>

      </select>
      <p>
      <button type = "submit"
              value = "Enter">
          Submit
      </button>
    </p>
  </p>
</fieldset>


    </form>

{{> footer}}
</div> <!-- end page -->
</body>
</html>
