/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ::: Links ::: */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/* ::: Typography ::: */
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/* ::: Embedded content ::: */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/* GENERAL (APPLIED TO ELEMENTS)
------------------------------------------ */
body {
  font: 100%/1.2 Georgia, "Times New Roman", serif;
}

h1 {
  color: blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: .975;
}
h1c {
  color: blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
    font-size: 0.688em;
  letter-spacing: -2px;
  line-height: .975;
}

.about h2,
.mod h2,
.nav-main a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.about h2,
.mod h2 {
  font-size: .875em; /* 15px/16px */
}

ul,
ol {
  list-style: none;
}

a {
  color: #1162a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.more:after {
  content: ' »';
}

img {
  border: 0;
}

/* CONTAINERS
------------------------------------------ */
.page {
  margin: 0 auto;
  width: 960px;
}

.container {
  padding-bottom: 1.9375em;
}

main {
  float: left;
  width: 600px;
  padding-right: 2em;
  border-right: 3px solid #c8c8c8;
}

.sidebar {
  float: right;
  margin-top: 1.875em;
  width: 300px;
}

/* MASTHEAD
------------------------------------------ */
.masthead {
  padding-top: 10px;
  position: relative;
}

.logo {
    height:140;
    width:150;
    margin-left:40;
}

/* ::: Main Navigation ::: */
.nav-main {
  border-bottom: 1px solid #c7c7c8;
  border-top: 5px solid #019443;
  margin-bottom: 0;
  padding: .45em 0 .5em;
}

.nav-main li {
  border-left: 1px solid #c8c8c8;
  display: inline-block;
  text-align: left;
}

.nav-main li:first-child {
  border-left: none;
}

.nav-main li:last-child a {
  padding-right: 0;
}

.nav-main a {
  color: blue;
  display: inline-block;
  font-size: 1.125em; /* 18px/16px */
  padding: .5em 1.15em .5em 1.4em;
}

.nav-main a:hover {
  color: blue;
  text-decoration: none;
}

.nav-main .current-page,
.nav-main .current-page:hover {
  color: blue;
  cursor: default;
}

/* MAIN CONTENT
------------------------------------------ */
main > .post:first-child > h1 {
  margin-top: 0.904em;
}

h1 {
  margin-bottom: .4125em;
}

.post-photo {
  float: left;
  margin-bottom: 2px;
  margin-right: 22px;
  max-width: 61.667%;
}

.post-blurb p {
  color: blue;
  font-size: 1em;
  line-height: 1.4;
}

/* ::: Blog Post Footer ::: */
.post-footer {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-bottom: .7em;
  padding-top: .7em;
}

.post-footer time:before {
  content: '•  ';
}

.post-footer a {
  font-weight: bold;
}

.footer p {
  color: #3a3a3a;
  font-family: arial, helvetica, sans-serif;
  font-size: 0.688em;
}

.footer p small {
  font-size: inherit;
}

/* ::: Pagination Links Below Blog Posts ::: */
.pagination {
  margin: 45px 0 0;
  padding: 0;
}

.pagination li {
  display: inline-block;
  font: 0.875em arial, helvetica, sans-serif;
  margin-right: 0.25em;
}

/* SIDEBAR
------------------------------------------ */
.mod h2 {
  border-bottom: 1px solid #dbdbdb;

  padding-bottom: .75em;
}

/* ::: About Me ::: */
.about {
  background: #2b2b2b;
  padding: 0.313em 0.625em 0.625em;
}

.about img {
  border: 5px solid #bebebe;
}

.about h2,
.about p {
  color: #dadada;
}

.about p {
  font-size: 0.813em;
  line-height: 1.5;
}

.map {
  margin: 1.438em 0 0.813em;
}

/* ::: Previous and Shared Posts ::: */
.links {
  margin: 1.5em 0 4.125em;
  padding-left: 0;
  width: 270px;
}

.links li {
  margin-bottom: 1.1em;
}

.links a {
  font-size: 1.125em;
  line-height: 1.195;
}

/* FOOTER
------------------------------------------ */
footer[role="contentinfo"] {
  border-top: 1px solid #cacbcb;
}

/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
